{{- /* Emit a <link> for theme CSS from assets/. Pass a path string, or a dict:
       "path"  - one asset path, or
       "paths" - a slice of asset paths to concatenate into one bundle,
       "id" / "media" - optional attributes.
       Minified in production builds, always fingerprinted. */ -}}
{{- $paths := slice }}{{ $attrs := "" }}
{{- if reflect.IsMap . }}
  {{- $paths = .paths | default (slice .path) }}
  {{- with .id }}{{ $attrs = printf `%s id="%s"` $attrs . }}{{ end }}
  {{- with .media }}{{ $attrs = printf `%s media="%s"` $attrs . }}{{ end }}
{{- else }}{{ $paths = slice . }}{{ end }}
{{- with partial "asset.html" (dict "paths" $paths "ext" "css") }}
<link rel="stylesheet"{{ $attrs | safeHTMLAttr }} href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous" />
{{- end -}}
